.App {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 10%;
  /* Adjust width as needed */
  background-color: #C47464;
  color: #fff;
  margin: 15px;
  /* Other styles for the sidebar */
}

.dashboard {
  margin: 10px;
  width: 80%
}



.MainContent {
  flex: 1;
  padding: 20px;
}

.rightsidebar {
  margin: 10px;
  width: 30%;

}